.container h2 {
    font-size: 1.5rem;
}

.container header .planetas {
    height: 150px;
    z-index: 10;
}
.container header img {
    max-height: 300px;
    max-width: 100%;
    z-index: 1;
    opacity: 0.2;
}

.container header img:hover {
    opacity: 0.3;
}

table {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--black);
}

table td,
table th {
    border: 1px solid #3c8dbc4d;
    padding: 20px;
}

table span.detalhe {
    color: #494949;
}

table td.acesso img {
    width: 20px;
}
table tr td:not(:first-child) {
    text-align: center;
    justify-content: center;
}
section#proposta {
    padding: 20px;
    width: max-content;
    margin: 0 auto;
    background-color: var(--primary);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 50px;
}

section#proposta h2 {
    color: #fff;
    padding-bottom: 15px;
}
