.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sobre img {
    width: 250px;
}

details summary {
    cursor: pointer;
    font-size: 1.5rem;
}

.faq {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#banner {
    background-image: url("../img/banner/sobre.jpg");
}
